.equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block; /*para que solo se muestre y ocupe debajo del texto*/
    padding-bottom: 9px;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}